<!DOCTYPE html>
<html>
<head>
  <title>Btspm</title>
  <%= stylesheet_link_tag    "btspm/application", media: "all" %>
  <%= javascript_include_tag "btspm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
